$white-color: #fff;
$light-gray-color: #f8f9fa;
$secondary-gray-color: #6c757d;
$border-dark-color: #c8c8c8;
$gray-color: #dfdfdf;
$black-color: #212529;
$blue-color: #2b7efb;
$link-blue-color: #007bff;
$red-color: #dc2626;
