@import "../styles/vars";

.single_article_main_content {
  margin-left: 20px;
  margin-right: 20px;

  article {
    margin-top: 44px;

    .article_title {
      line-height: 100%;
      margin-bottom: 16px;
      font-size: 30px;

      @media screen and (min-width: 744px) {
        margin-bottom: 20px;
        font-size: 35px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 24px;
        font-size: 40px;
      }
    }

    .name_and_date {
      color: $secondary-gray-color;
      font-size: 10px;
      margin-bottom: 16px;

      .circle_span {
        margin-left: 8px;
        margin-right: 8px;

        @media screen and (min-width: 744px) {
          margin-left: 10px;
          margin-right: 10px;
          margin-bottom: 20px;
        }

        @media screen and (min-width: 1440px) {
          margin-left: 12px;
          margin-right: 12px;
          margin-bottom: 24px;
        }
      }

      @media screen and (min-width: 744px) {
        font-size: 12px;
      }

      @media screen and (min-width: 1440px) {
        font-size: 14px;
      }
    }

    .thumbnail_image {
      width: 100%;
      min-height: 70vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 16px;

      @media screen and (min-width: 744px) {
        margin-bottom: 20px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 24px;
      }
    }

    .content {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid $gray-color;

      @media screen and (min-width: 744px) {
        margin-bottom: 30px;
      }

      @media screen and (min-width: 1440px) {
        margin-bottom: 40px;
      }
    }

    @media screen and (min-width: 744px) {
      flex: 1;
      margin-top: 54px;
    }

    @media screen and (min-width: 1440px) {
      margin-top: 64px;
    }
  }

  section {
    form {
      .heading_and_publish_container {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        h4 {
          font-size: 16px;
          margin-bottom: 16px;

          @media screen and (min-width: 744px) {
            margin-top: 54px;
            margin-bottom: 20px;
            font-size: 20px;
          }

          @media screen and (min-width: 1440px) {
            margin-top: 64px;
            margin-bottom: 24px;
            font-size: 24px;
          }
        }

        .publish_comment_btn {
          cursor: pointer;
          color: $white-color;
          background-color: $blue-color;
          margin-bottom: 16px;
          border: none;
          border-radius: 4px;
          padding: 2px 5px;

          @media screen and (min-width: 744px) {
            margin-bottom: 20px;
            padding: 3px 6px;
          }

          @media screen and (min-width: 1440px) {
            margin-bottom: 24px;
            padding: 6px 12px;
          }
        }
      }

      .label_and_input {
        display: flex;
        flex-direction: column;

        label {
          font-size: 12px;
          margin-bottom: 8px;

          @media screen and (min-width: 744px) {
            font-size: 14px;
          }

          @media screen and (min-width: 1440px) {
            font-size: 16px;
          }
        }

        input,
        textarea {
          border: 1px solid $gray-color;
          border-radius: 4px;
          height: 36px;
          line-height: 36px;
          font-size: 16px;
          padding-left: 12px;
          padding-right: 12px;
          width: 100%;
          margin-bottom: 20px;

          @media screen and (min-width: 744px) {
            margin-bottom: 26px;
          }

          @media screen and (min-width: 1440px) {
            height: 46px;
            line-height: 46px;
            font-size: 20px;
            padding-left: 16px;
            padding-right: 16px;
            margin-bottom: 32px;
          }
        }

        .author_input {
          max-width: 75%;

          @media screen and (min-width: 744px) {
            max-width: 50%;
          }
        }
      }

      textarea {
        resize: none;
        min-height: 100px;

        @media screen and (min-width: 744px) {
          min-height: 150px;
        }

        @media screen and (min-width: 1440px) {
          min-height: 200px;
        }
      }

      p {
        font-size: 12px;
        margin-bottom: 8px;

        @media screen and (min-width: 744px) {
          font-size: 14px;
        }

        @media screen and (min-width: 1440px) {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (min-width: 744px) {
    margin-left: 40px;
    margin-right: 40px;
  }

  @media screen and (min-width: 1440px) {
    margin-left: 224px;
    margin-right: 224px;
  }
}
